@model IEnumerable<KProje.DAL.Data.Entities.bilim>

@{
    Layout = "~/Views/shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <td>
            <h2>Bilim</h2>
        </td>
    </tr>
    @foreach (var item in Model)
            {
        <tr>
            <td>
                <b>
                    @Html.DisplayFor(modelItem => item.baslik)
                </b>
            </td>
        </tr>
        <tr>
            <td><img src="@Url.Content(item.resim)" width="400" height="250" /></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.aciklama)
            </td>

        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    }

</table>

